        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: antiquewhite;
        }
        img {
            height: 5em;
            width: 5em;
            border-radius: 50%;
        }
        .Instructions {
            font-size: 3em;
            text-align: center;
            color: red;
        }
        .Instructions li {
            color: green;
        }
        table {
            background-color: black;
            color: aliceblue;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            border-collapse: collapse;
        }
        table th, table td {
            padding: 10px;
            border: 1px solid white;
            text-align: left;
        }
        #name, #phone, #address, #email {
            width: 40%;
            height: 2em;
        }
